Index

<h1>{{ message }}</h1>

<nav>
	<button id="delayedRender">Whole Collection Fetch</button>
	<button id="instantRender">Just collection fetch, later model fetch</button>
</nav>
<!--<button id="empty">Fetch an empty collection</button>-->

<div id="demo" style="display: inline-block"></div>
